@font-face {
    font-family: 'CourageRoad';
    src: url('/fonts/COURAGEROAD.TTF') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'KrinkesDecorPersonal';
    src: url('/fonts/KRINKESDECORPERSONAL.TTF') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'KrinkesRegularPersonal';
    src: url('/fonts/KRINKESREGULARPERSONAL.TTF') format('truetype');
    font-display: swap;
}
